.navbar {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.navbar-logo {
  font-size: 2.1rem;
  font-weight: 500;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar ul li:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.navbar ul li i {
  color: #ff1f1f;
  display: inline-block;
  margin-left: 0.5rem;
}

.filters {
  margin-top: 40px;
  padding: 0 25px;
}
.filters-title {
  font-size: 2rem;
}

.shapes {
  margin-top: 30px;
}
.shapes-title {
  font-size: 1.6rem;
  color: #2121fd;
  margin: 20px 0;
}
.shapes-type {
  margin-top: 20px;
  list-style: none;
  margin: none;
  display: flex;
  flex-wrap: wrap;
}
.shapes-type li {
  position: relative;
  margin-bottom: 20px;
}
.shapes-type li:not(:last-child) {
  margin-right: 20px;
}
.shapes-type li label {
  font-size: 1.5rem;
  border: 1px solid #636262;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shapes-type li input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.shapes-type li input:checked + label {
  transition: all 0.3s;
  background-color: #cff0fd;
}

.colors {
  margin-top: 30px;
}
.colors-title {
  font-size: 1.6rem;
  color: #2121fd;
  margin: 20px 0;
}
.colors-type {
  margin-top: 20px;
  list-style: none;
  margin: none;
  display: flex;
  flex-wrap: wrap;
}
.colors-type li {
  position: relative;
  margin-bottom: 20px;
}
.colors-type li:not(:last-child) {
  margin-right: 20px;
}
.colors-type li label {
  display: inline-block;
  border-radius: 50%;
  padding: 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50px;
  height: 50px;
}
.colors-type li label.red {
  background-color: #ff1f1f;
}
.colors-type li label.blue {
  background-color: #2121fd;
}
.colors-type li label.green {
  background-color: #058d05;
}
.colors-type li label.yellow {
  background-color: #ffff25;
}
.colors-type li label.gray {
  background-color: #636262;
}
.colors-type li label.skyblue {
  background-color: #9ee0fa;
}
.colors-type li input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.colors-type li input:checked + label {
  transition: all 0.3s;
  border: 3px solid #8686fe;
}

.grid {
  margin-top: 30px;
}
.grid-title {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.grid-items {
  margin-top: 25px;
  list-style: none;
  margin: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  gap: 40px;
}
.grid-items li {
  box-shadow: 2px 4px 5px 0.1px gainsboro;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.grid-items li span {
  display: inline-block;
  transition: all 0.4s;
}
.grid-items li span.oval {
  height: 80px;
  width: 60px;
  border-radius: 50%;
}
.grid-items li span.round {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.grid-items li span.triangle {
  height: 80px;
  width: 80px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.grid-items li span.square {
  height: 80px;
  width: 80px;
}
.grid-items li span.rectangle {
  width: 150px;
  height: 100px;
}
.grid-items li span.red {
  background-color: #ff1f1f;
}
.grid-items li span.blue {
  background-color: #2121fd;
}
.grid-items li span.green {
  background-color: #058d05;
}
.grid-items li span.yellow {
  background-color: #ffff25;
}
.grid-items li span.skyblue {
  background-color: #9ee0fa;
}
.grid-items li span.gray {
  background-color: #636262;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  padding: 20px 30px;
}

/*# sourceMappingURL=style.css.map */
