@import './includes/colors';
@import './components/navbar';
@import './components/filters';
@import './components/shapes';
@import './components/colors';
@import './components/grid';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  padding: 20px 30px;
}
